@import url("https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Pontano Sans", sans-serif;
}
.container {
  width: 960px;
  margin: 0 auto;
}
header {
  background: #f3cd52;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}
header nav {
  padding-top: 30px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  list-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
nav ul li a:hover{
    color: yellow;
}
nav ul li a:active {
  color: red;
}
h1 {
  margin: 50px 0 20px;
}
header p {
  margin-bottom: 80px;
}
header img {
  border: 30px solid #f0d98e;
  margin-bottom: 0;
}
.main {
  background-color: #333;
  color: #ffffff;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 30px;
}
.main > h2 {
  padding-top: 30px;
}
.main p {
  color: rgba(255, 255, 255, 0.4);
  padding: 20px;
}
.main > .container {
  display: flex;
  justify-content: space-between;
}
.main > .container h3 {
  text-align: center;
  letter-spacing: 2px;
}
article {
  text-align: center;
}

button {
  background: #f3cd52;
  border: none;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px;
  text-align: center;
}
button:hover {
  background: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}
.hr {
  background: rgba(255, 255, 255, 0.4);
  border-bottom: none;
  height: 2px;}
.portfolio {
  background-color: #333;
  color: rgba(255, 255, 255, 0.4);
 
}
.portfolio > h2,h3 {
  color: #fff;
}

.main-portfolio {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.main-portfolio > article {
  padding-bottom: 35px;
}
.main-portfolio > article p {
  text-align: center;
}
.main-portfolio > article > img {
  width: 100%;
  padding: 30px;
}
h2,
h3,
p {
  text-align: center;
}
footer {
  background-color: #333;
  color: rgba(255, 255, 255, 0.596);
}
footer > h2 {
  padding-top: 20px;
}
form {
    width: 40%;
    margin: auto;
    color: red;
}
form input,
form textarea {
    display: block;
    width: 100%;
    margin: 15px 0;
    background:  rgba(255, 255, 255, 0.596);
    border: none;
    padding: 20px;
    font-size: 1.2rem;
}
footer > p {
  padding: 0 20px 30px 20px;
}
footer > form > button {
  margin: 0 0 0 150px;
}